
<section class="main-slider-section">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col">
                <div class="main-slider">
                    {% for item in entry.mainSlider.all() %}
                        <div class="main-slide-item" style="background-image: url({{ item.image.one().getUrl('full') }});">
                            <div class="animated main-heading" data-animation-in="fadeInUp" style="background: rgba(0,0,0,0.3);">
                                <h2 class="heading heading-md c-white mt-3">
                                    <span class="text-uppercase">{{ item.heading }}</span>
                                </h2>
                                
                                {% if item.smallHeading is not empty %}
                                    <h3 class="heading heading-md c-white mb-0">
                                        <small>Strokovnjaki za leseno gradnjo.</small>
                                    </h3>
                                {% endif %}
    
                                {% if item.description is not empty %}
                                    {{ item.description | raw }}
                                {% endif %}
                                
                                {% if item.buttonUrl is not empty %}
                                    <a href="{{ item.buttonUrl }}" target="{{ item.buttonTarget ? "_blank" : "_self" }}" class="btn btn-primary">{{ item.buttonTitle }}</a>
                                {% endif %}     
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>